* {
    box-sizing: border-box;
    margin: 0;
}

.boxLoading {
    width: 100%;
    height: calc(100vh - 70px);
    margin-top: 70px;
    display: flex;
    justify-content: center;

}

.boxLoading > img {
    transform: scale(0.2);
    margin-bottom: 90px;
}

.boxDetails {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Details {
    width: 1000px;
    height: 400px;
    border: 1px solid #09a198;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxImage {
    width: 60%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxImage > img {
    width: 210px;
}

.boxDescription {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    padding: 80px 40px 80px 0;
    font-family: IRANYekanThin, sans-serif;
}

.title {
    font-weight: bold;
    font-size: 1.1rem;
}

.dis {
    margin-top: 30px;
}

.dis > span {
    color: #ffd300
}

.boxDescription > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    margin-top: 60px;
}

.price {
    width: 80px;
    height: 30px;
    background-color: #09a198;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: white;

}

a {
    text-decoration: none;
    color: black;
}

.Back {
    width: 120px;
    height: 35px;
    border-radius: 25px;
    background-color: #ffd814;
    transition: all linear .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Back:hover {
    filter: drop-shadow(0 0 8px #ffd814);
    transition: all linear .2s;
}

@media (max-width: 1030px) {
    .Details {
        width: 500px;
        height: 700px;
        flex-flow: column nowrap;
    }

    .boxImage {
        width: 100%;
        height: 50%;
        padding: 60px 20px 20px 20px;
    }

    .boxImage > img {
        width: 200px;
    }

    .boxDescription {
        height: 50%;
        padding: 50px 20px 10px 20px;
    }

    .dis {
        margin-top: 20px;
    }

    .boxDescription > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row nowrap;
        margin-top: 40px;
    }
}